extends layout

block content
  h1.has-text-weight-semibold.is-size-2.has-text-centered.mb-4.mt-4 Add Device

  div
    form(action=action, method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)

      .field
        label.label(for='address') Device Challenge
        .control
          input#deviceChallenge.input(
            name='deviceChallenge',
            type='text',
            value=deviceChallenge
          )

      .field
        label.label(for='address') ID Challenge
        .control
          input#idChallenge.input(
            name='idChallenge',
            type='text',
            value=idChallenge
          )

      input#idChallenge(type='hidden', name='idChallenge', value=idChallenge)

      .field
        label.label(for='address') Address
        .control
          input#address.input(name='address', type='text', value=address)

      .field
        label.label(for='ensName') ENS
        .control
          input#ensName.input(name='ensName', type='text', value=ensName)

      .has-text-centered
        button#assertDevice.button.is-primary(type='button') Assert new device

      .field
        label.label(for='deviceChallengeSignature') ID Signature of Device Challenge
        .control
          input#deviceChallengeSignature.input(
            name='deviceChallengeSignature',
            type='text',
            value=deviceChallengeSignature
          )

      .has-text-centered
        button#addDevice.button(type='button') Add device

      .field
        label.label(for='deviceCredentialID') Device Credential ID
        .control
          input#deviceCredentialID.input(
            name='deviceCredentialID',
            type='text',
            value=deviceCredentialID
          )

      .field
        label.label(for='deviceCredential') Credential
        .control
          input#deviceCredential.input(name='deviceCredential', type='text')

      .field
        label.label(for='deviceCredentialClientDataJSON') Device Credential ID
        .control
          input#deviceCredentialClientDataJSON.input(
            name='deviceCredentialClientDataJSON',
            type='text'
          )

      .has-text-centered.mt-4
        input#submitDevice.button.is-link.m-2(
          type='submit',
          name='submit',
          value='Submit device'
        )

  script(type='module', src='/js/pages/add-device.js').
