extends layout

block content
  .columns
    .column.is-10-mobile.is-offset-1-mobile.is-8-tablet.is-offset-2-tablet.is-6-desktop.is-offset-3-desktop
      .box
        h1.has-text-weight-semibold.is-size-2.has-text-centered.mb-5.mt-2 Login Device
        form#loginForm(action=action, method='POST')
          input(type='hidden', name='_csrf', value=csrfToken)
          input#deviceChallenge.input(
            name='deviceChallenge',
            type='hidden',
            value=deviceChallenge
          )
          input#deviceCredentialID.input(
            name='deviceCredentialID',
            type='hidden'
          )
          input#deviceAuthenticatorData.input(
            name='deviceAuthenticatorData',
            type='hidden'
          )
          input#deviceClientDataJSON.input(
            name='deviceClientDataJSON',
            type='hidden'
          )
          input#deviceSignature.input(name='deviceSignature', type='hidden')
          input#deviceUserHandle.input(name='deviceUserHandle', type='hidden')

          #loginError.has-text-centered.hidden

          .field.mb-6.mt-5
            label.label(for='address') Username
            .control
              input#username.input(
                name='username',
                type='text',
                value=username
              )

          .has-text-centered.mt-6
            button#auth.button.is-link(type='button') Login

  script(type='module', src='/js/pages/login-device.js').
